*{
    padding: 0px;
    margin: 0px 20px;
    box-sizing: border-box;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-item{
    display: inline-block;
}

.body{
    display: flex;
    padding: 0px;
    margin: 20px 0px 0px 0px;
}

.body__item{
    justify-content: center;
    text-align: center;
}

.body__item img{
    width: 200px;
    height: 300px;
}